body{
    background-color: violet;
    
}

#add{
    background-color:blueviolet;
    border:3px dotted black;
    border-radius:50%;
    position:absolute;
    right:280px;
    font-weight: 900;
}
.item{
    position:absolute;
    right:150px;
    font-size: larger;
    font-weight: 900;
}
.Task{
    font-size: xx-large;
}














.flex-container{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
}

.card {
    background-color:yellow ;
    border:5px dashed red;
    border-radius:15px;
    text-align: center;
    margin:15px;
    height: 60vh ;
    width: 20vw ;
    padding: 20px;
    position: relative;
}
.card > span {
    position: absolute;
    bottom: 10px; 
    right: 20px;
    font-size: 40px !important ;
    border-radius: 50% ;
    background-color:aqua ;
    border:4px solid black;
    cursor: pointer;
    
}
.delete {
    right: 80px !important
}
.new-page {
    display:  none ;
    position:absolute;
    top:200px;
    left:500px;
}
.arrow{
    position:absolute;
    top:-195px;
    left:-400px;
    
}
.root-popup, .new-popup {
    position: absolute;
    z-index: 10 ;
    display: none;
    flex-flow: column wrap ;
    height: 20vh ;
    width: 40vw ;
    padding: 10px;
    background-color: orange ;
    justify-content: space-between ;
    left: calc( (100vw - 40vw) / 2) ;
    top: calc( (100vh - 20vh)/ 2 ) ;
    border-radius:25px;
    border:4px dashed black;
    color:darkgreen;
    box-shadow: 10px 10px black;
    
}
.new-popup {
    background-color:greenyellow ;
}

.root-popup>#head,.new-popup>#head1{
    width:160px;
    position:absolute;
    left:180px;
    top:40px;
    color:darkseagreen;
}
.headText{
   text-align: center;
}

 .root-popup>.btn,.new-popup>.btn3{
    width:60px;
    background-color:pink;
    position:absolute;
    top:90px;
    left:180px;
  
}
.root-popup >.btn2,.new-popup>.btn4{
    width:60px;
    background-color:pink;
    position:absolute;
    top:90px;
    left:270px;
    display:inline;
  
}
